<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891853377562-r8uaivd4r1u1usbcf9eghfr6a63e2or1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891853377562-r8uaivd4r1u1usbcf9eghfr6a63e2or1</string>
	<key>API_KEY</key>
	<string>AIzaSyCq7vmgkEhxcstAzvxE6Pb-_fehsZHem2w</string>
	<key>GCM_SENDER_ID</key>
	<string>891853377562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proffcoders.PairStalker</string>
	<key>PROJECT_ID</key>
	<string>pairstalker-fa560</string>
	<key>STORAGE_BUCKET</key>
	<string>pairstalker-fa560.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891853377562:ios:695cf344001c1414</string>
	<key>DATABASE_URL</key>
	<string>https://pairstalker-fa560.firebaseio.com</string>
</dict>
</plist>